# vim: ft=zsh
eval $({{ .brew_prefix }}/bin/brew shellenv)
export VISUAL="$(whence -p nvim vim vi nano pico | head -1)"
export EDITOR="$VISUAL"
export PAGER="$(whence -p less) --quit-if-one-screen --hilite-search --LONG-PROMPT --RAW-CONTROL-CHARS --no-init"
